/*yellow shade for changing text on game board #E3CD81*/

body {

	background-color: white;


}

button:active {
	outline: none;
}




header {

	width: 100%;
	/*height: 400px;*/
	margin: 12% auto 2% auto;


}

.row {

	height: 45px;

}

img {

	width: 450px;
	height: 450px;

}
.hide-img {

	position: absolute;
	top: 20px;
	left: 20px;
	width: 450px;
	height: 450px;
	z-index: 4;

}

h1 {

 font-family: 'Indie Flower', cursive;
	font-size: 70px;
	text-align: center;

}

h2, h3 {

 font-family: 'Indie Flower', cursive;
	font-size: 30px;
	text-align: left;
	color: white;

}

.nav-div {

	width: 500px;
	height: 350px;
	margin: 0 auto;

}

.show-instructions {

	width: 500px;
	height: 350px;
	margin: 0 auto;

}

.show-instructions p {

	padding: 0 20px;
	font-size: 24px;
	font-family: 'Montserrat', cursive;
	color: white;
	margin: 0 auto;
	text-align: left;


}

main {
/*display: inline-flex;*/
	position: relative;
  border-radius: 10px;
	background-color: #E5FBFC;
	width: 450px;
	height: 450px;
	margin: 10% auto;
	padding: 20px;
	/*padding: 0;*/

}



#answer-board {
	display: inline-block;
	position: absolute;
	top:25%;
	margin: 50px 10px;
	left: 70%;
	/*width: 400px;
	height: 450px;*/
	/*background-color: blue;*/
	/*float: left;*/
}

#score-aside {
 display: inline-block;
	position: absolute;
	top:25%;
	margin: 50px 10px;
	left: 10%;
	/*right: : 70%;
	background-color: blue;*/

}

#input-field {
	/*position: absolute;
	right: 15%;
	top: 35%;*/
	/*float: right;*/
	display: inline-block;
	/*clear: right;*/
	height: 50px;
	width: 200px;
/**/

	border-radius: 5px;
}

/*#input-field:focus {
 outline-color: #E3CD81;

}*/

.square {

  /*position: absolute;*/
  font-family: 'Vibes', cursive;
  font-weight: 800;
  margin: 0;
	/*width: 150px;
	height:150px;*/
	width: 45px;
	height:45px;
	margin: 0;
  padding: 0;
  font-size: 50px;

}

.square:after {

	content: ".";
	visibility: hidden;
	margin: 0;
	padding: 0;

}

#start{

	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	display: block;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	/*width: 100px;
	height: 30px;*/
	padding: 10px 85.15px;
	border-radius: 5px;
	 box-shadow: 10px 7px 13px #aaaaaa;

}

 #instructions-btn {

	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	display: block;
	margin: 0 auto 30px auto;
	text-align: center;
	text-transform: uppercase;
	/*width: 100px;
	height: 30px;*/
	padding: 10px 40px;
	border-radius: 5px;
	box-shadow: 10px 7px 13px #aaaaaa;

 }

 #exit-btn {

 	float: right;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	display: block;
	margin: 50px 0;
  text-align: center;
	text-transform: uppercase;
	/*width: 100px;
	height: 30px;*/
	padding: 10px 60px;
	border-radius: 5px;
	 /*box-shadow: 10px 7px 13px #aaaaaa;*/

 }